$main_color : #292F33;
$bg_color : rgb(240, 245, 236);
$secondara_color : rgb(207, 73, 73);
$second_text_color: white;
$first_text_color: black;
*{
    margin: 0;
    padding: 0;
    border: 0;
}

#main-header{
    color: white;
    font-weight: bolder;
    background-color: $main_color;
    padding: .3em 0em;
    text-align: center;
    margin: 0;
    // use tiger texture as background
}

.special-name{
    color: white;
    background: url(images/vector-tiger-texture-background.webp) no-repeat;
    background-size: 200px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#animal-name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 5em;
    color: rgb(255, 94, 0);
    padding: .5em 0em 1.2em 0em;
}
img{
    //  width: 20em;
    //  height: 15em;
     border: white .2em solid;
     margin: .2em;
    // border: white solid .2em;
    // width:100% \9

}
#nav-bar{
    background-color: $secondara_color;
}

#nav-bar-secondary{
    color: white;
    background-color: $main_color;
}

#nav-bar-secondary ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
    > li {
        > a {
            color: white;
            text-transform: uppercase;
            padding: 1em;
            font-size: .7em;
        }

    }
}
#nav-bar-secondary li:hover{
    color: red($color: #000000);
}
.single-row{
    padding: 2em;
}

#catphotos{
    padding: 0;
}

.extrapadding{
    padding-top: 3em;
}
.bottompadding{
    padding-bottom: 10em;
}

.about{
    padding: 10em 0em 10em 0;
    font-size: 1em;
}

ul{
    list-style: none;
}

#nav-bar > ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 0;
    flex-direction: row;
    //text-align: center;
    > li {
        > a {
            color: white;
            text-transform: uppercase;
            padding: 1em;
            font-size: 1.2em;
        }
        a:hover{
            color: rgb(28, 29, 24);
            text-decoration: none;
        }

    }

}

@media(max-width: 750px){
    #nav-bar > ul{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    #nav-bar-secondary ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 0;
    }
}

footer{
    background-color: rgb(218, 213, 190);
    font-family: sans-serif;
    font-style: italic;
    text-transform: lowercase;
    font-size: .5em;
    p {
        margin-bottom: 0;
    }
}